
<link rel="stylesheet" href="~/css/aboutus.css" asp-append-version="true" />

@{
    ViewData["Title"] = "AboutUS";
}

<div class="aboutuscontainer">
    <div class="box mission-vision">
        <div class="box-content">
            <div class="text">Mission & Vision</div>
        </div>
    </div>
    <div class="box our-team">
        <div class="box-content">
            <div class="text">Our Team</div>
        </div>
    </div>
    <div class="box sponsors-partners">
        <div class="box-content">
            <div class="text">Sponsors & Partners</div>
        </div>
    </div>
</div>

