<div style="width: 1440px; height: 2504px; position: relative; background: white">
    <div style="width: 1367px; height: 615px; left: 32px; top: 175px; position: absolute">
        <div style="width: 1367px; height: 615px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 20px; border: 1px black solid"></div>
        <div style="width: 589px; height: 244px; left: 41px; top: 40px; position: absolute; color: black; font-size: 60px; font-family: Inria Serif; font-style: italic; font-weight: 700; word-wrap: break-word">Mission & Vision</div>
    </div>
    <div style="width: 1367px; height: 615px; left: 32px; top: 826px; position: absolute">
        <div style="width: 1367px; height: 615px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 20px; border: 1px black solid"></div>
        <div style="width: 589px; height: 237px; left: 41px; top: 47px; position: absolute; color: black; font-size: 60px; font-family: Inria Serif; font-style: italic; font-weight: 700; word-wrap: break-word">Our Team</div>
    </div>
    <div style="width: 1367px; height: 615px; left: 41px; top: 1477px; position: absolute">
        <div style="width: 1367px; height: 615px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 20px; border: 1px black solid"></div>
        <div style="width: 589px; height: 237px; left: 41px; top: 47px; position: absolute; color: black; font-size: 60px; font-family: Inria Serif; font-style: italic; font-weight: 700; word-wrap: break-word">Sponsors & Partners</div>
    </div>
</div>