@{
    ViewData["Title"] = "Home";
    String[] specialties = { "Internal Medicine", "Pediatrics", "Psychiatry", "Surgery", "OB/GYN" };
    String[] imagepaths = { "InternalMedicine.png", "Pediatrics.png", "Psychiatry.png", "Surgery.png", "OBGYN.png" };
}
<link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />

<banner>
    <bannertext>
        Your Health,<br />Our Connection<br />
        <subtitle>Find Your Perfect Doctor Match</subtitle>
    </bannertext>
    <img src="/img/banner-image.png" />
</banner>

<specialtyselection>
    <specialtygrouplabel><h2>Find a doctor or Specialty</h2></specialtygrouplabel>
    <specialtyselectionicons>
        @for (int i = 0; i < specialties.Length; i++)
        {
            <a asp-area="" asp-controller="Home" asp-action="Specialty">
                <specialtygroup>
                    <specialtyicon><img src="~/img/@imagepaths[i]" /></specialtyicon>
                    <specialtylabel><h4>@specialties[i]</h4></specialtylabel>
                </specialtygroup>
            </a>
        }
    </specialtyselectionicons>
</specialtyselection>

<chatnowoutercontainer>
    <specialtygrouplabel><h2>Available Doctors</h2></specialtygrouplabel>
    <chatnowinnercontainer>
        @if(@ViewBag.Doctors.Count == 0){
            <p>No doctors available.</p>
        } else {
            @ViewBag.Doctors.Count
        }
    </chatnowinnercontainer>
</chatnowoutercontainer>

