.about-us-container {
    width: 80%;
    margin: 0 auto;
    height: auto;
    min-height: 100%;
    padding-bottom: 410px;
}


.about-container {

    background: white;
    align-items: center;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 40px;
}

h2{
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content-text, .content-image {
    flex: 1;
    padding: 10px;
}

.content-text {
    max-width: 70%;
    font-family: "Magra", sans-serif;
}

.content-image {
    max-width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .content-image img {
        width: 200px;
        height: auto;
    }

.content-image-left {
    max-width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-image-left img {
    width: 200px;
    height: auto;
}

.content-text-right {
    max-width: 70%;
    font-family: "Magra", sans-serif;
}
