chatnowinnercontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--sec-hi);
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    grid-gap: 20px;
}

chatnowcard{
    display: grid;
    grid-template:
    "profilephoto profiledescription"
    "profilephoto chatbutton";
    border-radius: 20px;
    background-color: var(--pri-bg);
    padding: 0.3rem;
}

profilephoto {
    display: grid;
    grid-area: profilephoto;
    border: 1px solid var(--black);
    padding: 0.3rem;
    border-radius: 20px;
}

profiledescription{
    display: grid;
    grid-area: profiledescription;
    margin: 0 2px;
}

chatbutton{
    display: grid;
    grid-area: chatbutton;
    margin: 0 2px;
    justify-content: flex-end;
    align-items: flex-end;
}

a.chatbutton{
    display: grid;
    align-items: center;
    justify-items: center;
    width: 115px;
    background: var(--pri-hi);
    border-radius: 20px;
    color: var(--pri-bg);
    border: 4px var(--pri-hi) solid;
}

a.chatbutton:hover{
    background: var(--pri-bg);
    color: var(--pri-hi);
}
