main {
    display: grid;
    grid-template: 
    "banner" 200px
    "specialtyselection" 300px
    "chatnow";
}

banner{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--ter-hi);
    color: var(--pri-bg);
    font-size: 2rem;
}

bannertext{
    display: grid;
    align-items: center;
    margin-left: 2rem;
}

banner img{
    height: 200px;
}

specialtyselection{
    display: grid;
    grid-area: "specialtyselection";
    grid-template:
    "specialtyselectionlabel"
    "specialtyselectionicons";
}

specialtyselectionicons{
    display: grid;
    grid-area: specialtyselectionicons;
    grid-template-columns: repeat(5, 1fr);
}

specialtygroup{
    display: grid;
    grid-template-rows: 4fr 1fr;
    justify-items: center;
}

chatnowoutercontainer{
    display: grid;
    grid-area: chatnow;
    border-radius: 20px;
    padding: 20px
}

chatnowinnercontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--sec-hi);
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    grid-gap: 20px;
}

chatnowcard{
    display: grid;
    grid-template:
    "profilephoto profiledescription"
    "profilephoto chatbutton";
    border-radius: 20px;
    background-color: var(--pri-bg);
    padding: 0.3rem;
}

profilephoto{
    display: grid;
    grid-area: profilephoto;
    border: 1px solid var(--black);
    border-radius: 20px;
}

profiledescription{
    display: grid;
    grid-area: profiledescription;
    margin: 0 2px;
}

chatbutton{
    display: grid;
    grid-area: chatbutton;
    margin: 0 2px;
    justify-content: flex-end;
    align-items: flex-end;
}

a.chatbutton{
    display: grid;
    align-items: center;
    justify-items: center;
    width: 115px;
    background: var(--pri-hi);
    border-radius: 20px;
    color: var(--pri-bg);
    border: 4px var(--pri-hi) solid;
}

a.chatbutton:hover{
    background: var(--pri-bg);
    color: var(--pri-hi);
}
