.flex-end{
    display: flex;
    justify-content: flex-end;
}

.loginbutton{
    display: grid;
    align-items: center;
    width: 125px;
    background: var(--pri-bg);
    border-radius: 20px;
    border: 4px var(--pri-hi) solid;
    font-size: 25px;
    font-family: Inter;
    font-weight: 700;
}

.loginbutton:hover{
    background: var(--pri-hi);
    border: 4px var(--pri-hi) solid;
}

.registerbutton{
    display: grid;
    align-items: center;
    width: 115px;
    background: var(--pri-hi);
    border-radius: 20px;
    color: var(--black);
    font-size: 25px;
    font-family: Inter;
    font-weight: 700;
}

.registerbutton:hover{
    background: var(--pri-bg);
    border: 4px var(--pri-hi) solid;
}
