:root {
    --pri-bg: #03045E;
    --sec-bg: #BBE7FF;
    --ter-bg: yellow;
    --pri-hi: #003779;
    --sec-hi: #4399FF;
    --ter-hi: #BBE7FF;
    --black: black;
    --white: white;
}

.btn-pri-hi{
    color: var(--pri-bg);
    background-color: var(--pri-hi);
    border-color: var(--pri-hi);
}