<activechat>
    <chatheader>
        <h4 style="text-align: center;">PatientConnect Chat</h4>
    </chatheader>
    <chatwindow>
        <ul id="messagesList"></ul>
    </chatwindow>
    <messagepane>
        <input type="text" id="messageInput" placeholder="Type message here..." />
        <input type="button" id="sendButton" value="Send Message" />
    </messagepane>
    <div>
        User
        <input type="text" id="userInput" />
    </div>
</activechat>
<script src="~/js/signalr/dist/browser/signalr.js"></script>