<chatlist>
    @* <chatrow> *@
        @* <chatpic>pic</chatpic> *@
        @* <chatname>name</chatname> *@
    @* </chatrow> *@
    <chatrow class="list-group" id="list-tab" role="tablist">
        <a class="room-select list-group-item list-group-item-action" id="1" data-toggle="list" role="tab" aria-controls="room1" value="1">Room 1</a>
        <a class="room-select list-group-item list-group-item-action" id="2" data-toggle="list" role="tab" aria-controls="room2" value="2">Room 2</a>
        <a class="room-select list-group-item list-group-item-action" id="3" data-toggle="list" role="tab" aria-controls="room3" value="3">Room 3</a>
        <a class="room-select list-group-item list-group-item-action" id="4" data-toggle="list" role="tab" aria-controls="room4" value="4">Room 4</a>
    </chatrow>
</chatlist>