<chat>
    <link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
    <chatlist>
        <searchbar>
            <input type="text" placeholder="Search Here..." />
        </searchbar>
        <chatrow class="list-group" id="list-tab" role="tablist">
            @foreach (var room in ViewData["Rooms"] as IEnumerable<PatientConnect.Models.Connection>)
            {
                <a class="room-select list-group-item list-group-item-action" id="1" data-toggle="list" role="tab" aria-controls="@room.Room" value="@room.Room">
                    @room.Room
                </a>
            }
        </chatrow>
    </chatlist>

    <activechat>
        <chatheader>
            <h4>PatientConnect Chat</h4>
        </chatheader>
        <chatwindow>
            <ul id="messagesList"></ul>
        </chatwindow>
        <messagepane>
            <input type="text" id="messageInput" placeholder="Type message here..." />
            <input type="button" id="sendButton" value="Send Message" />
        </messagepane>
        <p style="display:none;" id="userInput">@ViewData["CurrentUser"]</p>
    </activechat>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
</chat>
