@model LoginVM

<div class="modal-grid">
    <div class="modal-header">
        <h4 class="modal-title">Login</h4>
    </div><!-- modal-header-->
    <div class="modal-body">
        <form asp-action="Login" asp-controller="Login">
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email address"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="Password" name="Password" type="password" class="form-control"
                       data-val="true" data-val-required="The Password field is required." placeholder="Password"/>
                @Html.ValidationMessage("Password", new { @class = "text-danger" })
            </div>
            <div class="form-group submit">
                <input type="submit" value="Login" class="btn registerbutton" />
            </div>
            @Html.ValidationMessage("LoginFailed", new { @class = "text-danger" })
        </form>
    </div><!-- modal-body-->
</div>