@model Login

<div class="modal-grid">
    <div class="modal-header">
        <h4 class="modal-title">Login</h4>
    </div><!-- modal-header-->
    <div class="modal-left"><img src="/img/profile-icon.svg" class="profile-icon" /></div><!-- modal-left-->
    <div class="modal-right">
        <form asp-action="Login">
            <div class="form-group">
                <input asp-for="LoginID" class="form-control" placeholder="Login ID (e.g 12345678)"/>
                <span asp-validation-for="LoginID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="Password" name="Password" type="password" class="form-control"
                       data-val="true" data-val-required="The Password field is required." placeholder="Password"/>
                @Html.ValidationMessage("Password", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-pri-hi" />
            </div>
            @Html.ValidationMessage("LoginFailed", new { @class = "text-danger" })
        </form>
    </div><!-- modal-right-->
</div>