@model User

<div class="modal-grid">
    <div class="modal-header">
        <h4 class="modal-title">Register</h4>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#loginModal">or Login</button>
    </div><!-- modal-header-->
    <div class="modal-left">image</div><!-- modal-left-->
    <div class="modal-right">
        <form asp-action="Register" asp-controller="Register">
            <div class="form-group">
                @* <label for="Name">First name</label> *@
                <input asp-for="FirstName" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group">
                @* <label for="Name">Last name</label> *@
                <input asp-for="LastName" class="form-control" placeholder="Last Name">
            </div>
            <div class="form-group">
                @* <label asp-for="Email">Email</label> *@
                <input asp-for="Email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                @* <label asp-for="City">City</label> *@
                <input asp-for="City" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                @* <label asp-for="PostCode">Post Code</label> *@
                <input asp-for="PostCode" class="form-control" placeholder="Post Code">
            </div>
            <div class="form-group">
                @* <label for="Name">Phone number</label> *@
                <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number">
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-success">
            </div>
        </form>
    </div><!-- modal-right-->
</div>