@{
    ViewData["Title"] = "Contact Details";
}
<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3>Contact Details</h3>

        <p>Name: MediByte Solutions</p>
        <p>Email: developers@medibyte.com.au</p>
    </div>
</div>

